/* Styling for BYUI Mission Statement*/
body 
    { 
        display: grid;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        margin: 50px auto;
        border: 5px lightslategray;
        border-width: 2px;
        max-width: 600px;

    }
h1 
    {
        text-align: center;
    }
h2
    {
        color: #006EB6;
        text-align: center;
    }
p 
    {
        text-align: left;
        letter-spacing: 1px;
    }
ul 
    {
        line-height: 1.5;
    }
img 
    { 
        width: 300px;
        height: auto;
    }