/* Styling for BYUI Mission Statement*/
body 
    { 
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }
.content
    {
        margin: 50px auto;
        border: 2px;
        border-color: lightslategray;
        border-width: 2px;
        max-width: 600px;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 150px;
        padding-right: 150px;
    }

header 
    {
    text-align: center;
    border-bottom: 2px lightslategray;
    }
h2
    {
        color: #006EB6;
        letter-spacing: 5px;
        height: 100px;
    }
main 
    {
        margin: 5px;
        height: auto;
    }
p 
    {
        text-align: left;
        line-height: 1.5;
        letter-spacing: 1px;
    }
.italics
    {
        font-style: italic;
    }
ul 
    {
        line-height: 1.5;
        list-style-type: decimal;

    }
footer 
    { 
        height: 150px;
        text-align: center;
    }
img 
    {
    height: 150px;
    }