/* Styling for BYUI Mission Statement*/
body 
    { 
        display: grid;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        margin: 50px auto;
        border: 5px lightslategray;
    }
h1 
    {
        text-align: center;
    }
h2
    {
        color: #006EB6;
        text-align: center;
    }
p 
    {
        text-align: left;
    }